<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/admin-layout}">

<head>
    <title>답변내역</title>

    <!-- index.html 고유 CSS 추가 -->
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/assets/css/bootstrap.css}">
        <link rel="stylesheet" th:href="@{/assets/css/font-awesome.css}">
        <link rel="stylesheet" th:href="@{/assets/css/style.css}">
        <!-- GOOGLE FONT -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    </th:block>

</head>
<!-- Content -->
<div layout:fragment="content">
    <div class="content-wrapper">
        <div class="container">
            <div class="row pad-botm">
                <div class="col-md-12">
                    <h4 class="header-line">답변수정</h4>

                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <form role="form" th:object="${answerForm}" method="post">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                        <div th:replace="~{fragments/form_errors :: formErrorsFragment}"></div>
                        <label>답변 내용</label>
                        <div class="form-group">
                            <textarea th:field="*{content}" class="form-control" rows="5"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">저장하기 </button>
                    </form>
                </div>


            </div>
        </div>
    </div>
</div>

</html>