<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}">

<head>
    <title>질문내역상세</title>

    <!-- index.html 고유 CSS 추가 -->
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/assets/css/bootstrap.css}">
        <link rel="stylesheet" th:href="@{/assets/css/font-awesome.css}">
        <link rel="stylesheet" th:href="@{/assets/css/style.css}">
        <!-- GOOGLE FONT -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    </th:block>

</head>
<!-- Content -->
<div layout:fragment="content">
    <div class="content-wrapper">
        <div class="container">
            <div class="row pad-botm">
                <div class="col-md-12">
                    <h4 class="header-line">질문내역상세</h4>

                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h3 th:text="${question.subject}">제목</h3></div>
                        <div class="panel-body">
                            <p th:text="${question.content}">내용</p>
                            <div class="d-flex justify-content-end">
                                <div class="badge bg-light text-dark p-2 text-start">
                                    <div th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                                </div>
                            </div>
                        </div>
                      <div class="panel-footer">
                        <h5><span class="badge" th:text="${#lists.size(question.answerList)}">42</span>개의 답변이 있습니다.</h5>
                    </div>
                </div>
            </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <ul>
                            <li th:each="answer : ${question.answerList}" >
                                <div class="alert alert-info" th:text="${answer.content}">
                                </div>
                                <p class="badge" th:text="${#temporals.format(answer.createDate, 'yyyy-MM-dd HH:mm')}"></p>
                    
                            </li>
                        </ul>
                    </div>
                    <form role="form" th:action="@{|/answer/create/${question.id}|}" method="post" >
                        <div class="form-group">
                            <textarea name="content" class="form-control" rows="5"></textarea>
                        </div>
                        <button type="submit" class="btn btn-info">답변등록 </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</html>