<!--resources/templates/fragments/footer.html-->

<html xmlns:th="http://www.thymeleaf.org">
<!--footerFragment 선언-->
    <section th:fragment="footerFragment" class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                   &copy; 2014 arkwith.com |<a href="http://www.arkwith.com/" target="_blank"  > Designed by : arkwith.com</a> 
                </div>

            </div>
        </div>
    </section>
      <!-- FOOTER SECTION END-->
</html>