<!--resources/templates/fragments/header.html-->

<html xmlns:th="http://www.thymeleaf.org">
<!--headerFragment 선언-->
<!-- div th:fragment="headerFragment" -->
    <div th:fragment="headerFragment" class="navbar navbar-inverse set-radius-zero" >
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" th:href="@{/}">

                    <img th:src="@{/assets/img/logo.png}" />
                </a>

            </div>

            <div class="right-div">
                <a sec:authorize="isAnonymous()" th:href="@{/user/login}" class="btn btn-primary pull-left">로그인</a>
                <a sec:authorize="isAuthenticated()" th:href="@{/user/logout}" class="btn btn-primary pull-left">로그아웃</a>
                <span> &nbsp;&nbsp; </span>
                <a th:href="@{/user/signup}" class="btn btn-primary pull-right">회원가입</a>
            </div>
        </div>
    </div>
    <!-- LOGO HEADER END-->
<!-- /div -->
</html>
