<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}">

<head>
    <title>환영합니다.</title>

    <!-- index.html 고유 CSS 추가 -->
    <th:block layout:fragment="css">
        <link rel="stylesheet" type="text/css" th:href="@{/assets/css/bootstrap.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/assets/css/font-awesome.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}">
        <!-- GOOGLE FONT -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    </th:block>

</head>

<!-- Content -->
<div layout:fragment="content">
    <div class="content-wrapper">
        <div class="container">
            <div class="row pad-botm">
                <div class="col-md-12">
                    <h4 class="header-line">환영합니다.</h4>

                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-info">
                        스프링 부트를 활용한 샘플 웹 어플리케이션 입니다.
                        <br />
                        Happy downloading
                        <br />
                        Keep Looking <a target="_blank" href="http://www.binarytheme.com/">binarytheme.com</a> for cool
                        stuff.
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

</html>