<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}">

<head>
    <title>환영합니다.</title>

    <!-- index.html 고유 CSS 추가 -->
    <th:block layout:fragment="css">
        <link rel="stylesheet" type="text/css" th:href="@{/assets/css/bootstrap.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/assets/css/font-awesome.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}">
        <!-- GOOGLE FONT -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    </th:block>

</head>
<!-- Content -->
<div layout:fragment="content">

    <div class="jumbotron bg-1">
        <div class="container text-center">
          <h1>Full Cycle Software Developer</h1>      
          <p>풀스택 개발을 넘어 <strong>기획 및 요구정의,</strong> <strong>설계,</strong> <strong>개발,</strong> <strong>운영</strong> 전체 프로그램 개발 사이클을 지원하는 1인법인 <strong>프리랜서 개발자</strong>,</p>
          <p>개발 기술과 관련되어 공개된 기술 강의 내용을 공유하려고 합니다.</p>
        </div>
      </div>
      <div class="container">    
        <div class="row">
          <div class="col-sm-4">
            <div class="panel panel-primary">
              <div class="panel-heading">ChatGPT- 프롬프트엔지니어링</div>
              <div class="panel-body"><iframe class="img-responsive" style="width:100%" src="https://www.youtube.com/embed/kmI9G5IrSQI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></iframe></div>
              <div class="panel-footer">AI에게 잘 명령하는 기술 '프롬프트 엔지니어링'│5가지 Tip 소개</div>
            </div>
          </div>
          <div class="col-sm-4"> 
            <div class="panel panel-danger">
              <div class="panel-heading">깃허브 인공지능 기반 Low Code 서비스 Copilot</div>
              <div class="panel-body"><iframe class="img-responsive" style="width:100%" src="https://www.youtube.com/embed/8o-YqsNzZHA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
              <div class="panel-footer">코딩속도 200% 올려주는 깃허브 인공지능 기반 Low Code 서비스 Copilot </div>
            </div>
          </div>
          <div class="col-sm-4"> 
            <div class="panel panel-success">
              <div class="panel-heading">Spring Boot</div>
              <div class="panel-body"><iframe class="img-responsive" style="width:100%" src="https://www.youtube.com/embed/3Uuxq68MIIM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
              <div class="panel-footer">"점프 투 스프링부트"는 게시판 서비스를 만들어가는 과정을 설명한 스프링부트 입문서이다</div>
            </div>
          </div>
        </div>
      </div><br>
      
      <div class="container">    
        <div class="row">
          <div class="col-sm-4">
            <div class="panel panel-primary">
              <div class="panel-heading">오라클 데이터베이스 Oracle Database</div>
              <div class="panel-body"><iframe class="img-responsive" style="width:100%" src="https://www.youtube.com/embed/jLoY9RpbXMs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
              <div class="panel-footer">상용 데이타베이스 시시템중 국내에서 제일 많이 사용되고 있는 오라클 데이타베이스에 대해 알아본다</div>
            </div>
          </div>
          <div class="col-sm-4"> 
            <div class="panel panel-primary">
              <div class="panel-heading">Linux for the SQL Server DBA</div>
              <div class="panel-body"><iframe class="img-responsive" style="width:100%" src="https://www.youtube.com/embed/RsEWdu7hM_g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
              <div class="panel-footer">상용 데이타베이스 시시템중 Oracle다음으로 많이 사용되고 있는 MS SQL Server</div>
            </div>
          </div>
          <div class="col-sm-4"> 
            <div class="panel panel-primary">
              <div class="panel-heading">[2020개정판]이것이 MySQL이다(8.0)</div>
              <div class="panel-body"><iframe class="img-responsive" style="width:100%" src="https://www.youtube.com/embed/xKYeJxBTt2E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
              <div class="panel-footer">오픈소스 데이타베이스중 가장 많이 사용되고 있는 MySQL에 대해서 알아봅니다</div>
            </div>
          </div>
        </div>
      </div><br><br>
      <div class="container">    
        <div class="row">
            <div class="col-sm-3">
              <div class="well bg-2">
                <h4>요구정의</h4>
                <p>고객요구 및 시스템요건을 정의</p> 
              </div>
            </div>
            <div class="col-sm-3">
              <div class="well bg-2">
                <h4>설계</h4>
                <p>UI/UX, Database, 기능설계</p> 
              </div>
            </div>
            <div class="col-sm-3">
              <div class="well bg-2">
                <h4>개발</h4>
                <p>프런트/백엔드/인프라개발</p> 
              </div>
            </div>
            <div class="col-sm-3">
              <div class="well bg-2">
                <h4>운영</h4>
                <p>AWS,Azure등에 배포 및 운영</p> 
              </div>
            </div>
          </div>
    
      </div><br><br>
<!-- Container (Pricing Section) -->
<!-- <div class="container">    
    <div id="pricing" class="container-fluid">
    <div class="text-center">
      <h2>Pricing</h2>
      <h4>Choose a payment plan that works for you</h4>
    </div>
    <div class="row slideanim">
      <div class="col-sm-4 col-xs-12">
        <div class="panel panel-success text-center">
          <div class="panel-heading">
            <h1>Basic</h1>
          </div>
          <div class="panel-body bg-2">
            <p><strong>20</strong> Lorem</p>
            <p><strong>15</strong> Ipsum</p>
            <p><strong>5</strong> Dolor</p>
            <p><strong>2</strong> Sit</p>
            <p><strong>Endless</strong> Amet</p>
          </div>
          <div class="panel-footer">
            <h3>$19</h3>
            <h4>per month</h4>
            <!-- <button class="btn btn-lg">Sign Up</button> -->
          </div>
        </div>      
      </div>     
      <div class="col-sm-4 col-xs-12">
        <div class="panel panel-success text-center">
          <div class="panel-heading">
            <h1>Pro</h1>
          </div>
          <div class="panel-body bg-2">
            <p><strong>50</strong> Lorem</p>
            <p><strong>25</strong> Ipsum</p>
            <p><strong>10</strong> Dolor</p>
            <p><strong>5</strong> Sit</p>
            <p><strong>Endless</strong> Amet</p>
          </div>
          <div class="panel-footer">
            <h3>$29</h3>
            <h4>per month</h4>
            <!-- <button class="btn btn-lg">Sign Up</button> -->
          </div>
        </div>      
      </div>       
      <div class="col-sm-4 col-xs-12">
        <div class="panel panel-success text-center">
          <div class="panel-heading">
            <h1>Premium</h1>
          </div>
          <div class="panel-body bg-2">
            <p><strong>100</strong> Lorem</p>
            <p><strong>50</strong> Ipsum</p>
            <p><strong>25</strong> Dolor</p>
            <p><strong>10</strong> Sit</p>
            <p><strong>Endless</strong> Amet</p>
          </div>
          <div class="panel-footer">
            <h3>$49</h3>
            <h4>per month</h4>
            <!-- <button class="btn btn-lg">Sign Up</button> -->
          </div>
        </div>      
      </div>    
    </div>
  </div>
</div> -->
                
</div>

</html>