<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Something went wrong!</title>
</head>
<body style="margin: 0 auto; width: 300px;">
  <h1>시스템 내부 오류 - <span th:text="${status}">Status</span></h1>
  <p>Sorry for the inconvenience. Please contact the administrator.</p>
  <br/>
  <ul>
    <li>Timestamp: <span th:text="${timestamp}">Timestamp</span></li>
    <li>Path: <span th:text="${path}">Path</span></li>
    <li>Error: <span th:text="${error}">Error</span></li>
  </ul>
  <div>
    <a href="/" class="btn btn-primary">홈으로</a>
    <a href="javascript:history.back()" class="btn btn-primary">뒤로가기</a>
  </div>
</body>
</html>